.dbProfileForm{
    position: absolute;
    top: 40%;
    left:30%;
}

.dbProfilePic{
    position: absolute;
    top: 20%;
    left:40%;
}

input {
    text-align: center; 
}

img{
    max-width:180px;
  }

input[type=file]{
padding:10px;
opacity: 0
}