<form [formGroup]="form">
  <mat-form-field>
      <mat-select formControlName="playerCount" placeholder="Number of players" required>
          <mat-option *ngFor="let number of arrayOfNumberOfPlayers" [value]="number">{{ number }}</mat-option>
      </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-select formControlName="deckCount" placeholder="Number of Decks" required>
      <mat-option *ngFor="let number of arrayOfNumberOfDecks" [value]="number">{{ number }}</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput formControlName="gameName" placeholder="Game Name" required type="text">
    <mat-error *ngIf="gameName.touched && gameName.errors && gameName.errors.spacialChars && gameName.value !== ''">The data must not contain spacial characters or spaces</mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput formControlName="gameCode" placeholder="Game Code" required type="text">
  </mat-form-field>
  <br>
  <mat-form-field>
      <input matInput formControlName="playerTimeout" placeholder="Player Timeout (Sec)" required>
      <mat-error *ngIf="playerTimeout.touched && playerTimeout.errors && !playerTimeout.errors.isNumber && playerTimeout.value !== ''">The data must be number</mat-error>
  </mat-form-field>
  <br>
  <button mat-raised-button color="primary" (click)="submitValue()">Submit</button> 
  <button mat-raised-button color="primary">Close</button>
</form>
