<div>Email ID: {{email}}</div>
<form [formGroup]="form">
    <mat-form-field>
        <input matInput formControlName="password" placeholder="Password" required type="text">
        <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
          <span *ngIf="password.errors.maxlength">
            Please enter a password no more than 16 characters.
          </span>
          <span *ngIf="password.errors.minlength">
            Please enter a password at least 6 characters.
          </span>
        </mat-error>
      </mat-form-field>
  <br>
    <mat-form-field>
      <input matInput formControlName="confirmPassword" placeholder="Confirm Password" required type="text">
      <mat-error *ngIf="(confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched) || form.errors?.mismatch)">
        <span *ngIf="confirmPassword.errors || form.errors?.mismatch">
          Password doesn't match
        </span>
      </mat-error>
    </mat-form-field>
  <br>
  <button mat-raised-button color="primary" (click)="submitValue()">Submit</button> 
</form>
